.About {
    max-width: 100%;
    height: 1000px;
    background-color: #3e3e3e;
}

.baground {    
    margin: 4% auto;
    max-width: 1100px;
    height: 850px;
    background-size: 100%;
    background-image: url(.../../../../img/bag.png);
}

.me {
    
    max-width: 80%;
    margin-left: 20%;   
    display: flex;
    flex-wrap: wrap;
}

.card1 {
    border-radius: 14px;
    padding: 20px;
    background: #2C2C2C;
    height: 100%;
}

.card1 img {
    max-width: 250px;
    margin: 0 auto;
    display: block;
}

.text {
    margin-left: -20px;
    margin-top: 30px;
    border-radius: 14px;
    background: #2C2C2C;
    color: white;
    padding: 35px;
    max-width: 328px;
}

.text h2 {
    font-family: NEXT ART;
    font-size: 35px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: -55px;
}

.text p {
    margin-top: 40px;
}

.card2 {
    background: #2C2C2C;
    box-sizing: border-box;
    margin-left: -30px;
    margin-top: 20%;
    padding: 20px;
    height: 100%;
    border-radius: 14px;

}

.card2 img {
    max-width: 250px;
}

.card3 {
    background: #2C2C2C;
    box-sizing: border-box;
    padding: 20px;
    margin-top: -30%;
    border-radius: 14px;
}